@import "./mixins";
@import "./variables";

// Container
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@include mq(576px) {
  .container {
    max-width: 540px;
  }
}
@include mq(768px) {
  .container {
    max-width: 720px;
  }
}
@include mq(992px) {
  .container {
    max-width: 960px;
  }
}
@include mq(1200px) {
  .container {
    max-width: 1140px;
  }
}

// Button
.button {
  background-color: $primary-color;
  color: #fff;
  font-weight: 600;
  padding: 0.5em;
  transition: 0.4s;
  border: none;

  &:hover {
    background-color: darken($primary-color, 5%);
    transition: 0.4s;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

// Margin classes
.ml-2 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
