@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.toggle {
  //
  width: 58px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #ececec;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  transition: 0.4s;

  .bar {
    width: 45px;
    height: 7px;
    background-color: $secondary-color;
  }
}

.toggle.toggled {
  border-color: $primary-color;

  .bar {
    background-color: $primary-color;
    transition: inherit;
  }
}

@include mq(768px) {
  .toggle {
    display: none;
  }
}
